nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: var(--bg-primary);
  z-index: 2;
  }

nav .container{
 
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--spacing-medium);
}

nav .logo-link {
  padding: 0;
}

nav img {
  width: auto;
  height: 60px;
}

/* Meniul si checkboxul sunt necesare doar pt versiunea de mobil */
nav .menu-icon {
  color: var(--text-light);
  display:none;
}
nav input[type="checkbox"] {
  display:none;
}


nav ul {
  display: flex;
}

nav li {
  /* nu uitam sa punem position:relative pe elementul fata de care pozitionam absolut */
  position: relative;
}

nav a {
  font-size: var(--fs-small);
  text-transform: uppercase;

  color: var(--text-light);
  padding: var(--spacing-medium);
  text-decoration: none;
}

nav .arrow-down-icon {
  font-size: var(--fs-large);
  /* daca nu specificam top, left, right sau bottom elementul va fi pozitionat automat, iar in acest caz il pozitioneaza exact cum trebuie */
  position: absolute;
}

nav a:hover {
  color: var(--text-secondary)
}

nav .submenu {
/* initial submeniul nu e afisat. Afisarea se face doar la hover pe parinte */
display: none;
position: absolute;
top: calc(100% - var(--spacing-small));
left: var(--spacing-medium);

width: 10rem;
padding: var(--spacing-tiny) 0;

background-color: var(--bg-dark);
z-index: 3;
}

nav .submenu a {
  padding: var(--spacing-tiny) var(--spacing-small);
  
}

/* atentie la acest selector! display:block se aplica pe elementul cu clasa submenu, doar atunci cand parintele cu clasa about us are hover! */
nav .about-us:hover .submenu {
  display: block;
}

/* stilizarea pt mobil */
@media (max-width: 768px) {
nav img {
  height: var(--mobile-logo-height);
} 

  nav ul {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-dark);
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
  }


nav .menu-icon {
  display:block;
}

nav .arrow-down-icon {
  display:none;
}

nav .about-us:hover .submenu {
  display:none;
}

nav .menu-icon-container {
  position: relative;
}

nav input[type="checkbox"] {
  /* pe mobil checkboxul trebuie sa fie przent pe ecran */
  display: block;
  /* practic punem checkboxul deasupra iconitei din pozitionare */
  position:absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
/* atentie, opacity 0 doar ascunde vizual elementul, el este inca prezent pe ecran si clickuibil */
  opacity: 0;

  margin: 0;
  /* schimbam afisajul cursorului mouseului */
  cursor: pointer;
}
    /* Doua tipuri noi de selector: */
      /* 1. input: checked => elementul este stilizat doar daca checkboxul se afla in starea checked*/
        /* 2. input:checked ~ ul => aplica CSS doar pe fratii (de acelasi nivel) lui in put:checked aflati sub el ca ordine, e vident, doar fratii care sunt ul */
    nav input[type="checkbox"]:checked ~ ul {
      display: block;
      width: 100%;
      position: fixed;
      /* unde se afiseaza meniul extins pe mobil? pai imediat sub nav. cum calculam cat are nav-ul? dimensiunea logo-ului+ padding */
      top: calc(var(--mobile-logo-height) + 2 * var(--spacing-medium));
      left: 0;

      background-color: var(--bg-dark);
    }

}
body {
  margin: 0;
  padding-top: 150px;
  font-family: Arial, sans-serif;
}

.welcome-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* aliniere sus */
  gap: 40px; /* spațiu între coloane */
  padding: 40px;
}

.trainers-introduction {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.our-trainers,
.join-us {
  width: 48%; /* două coloane aproximativ egale */
}

.our-trainers h3,
.join-us h3 {
  filter: grayscale(100%);
  color:rgb(170, 169, 169); 
}

.our-trainers h2,
.join-us h2 {
  margin-top: 10px;
  font-size: 24px;
}

.text {
  margin-top: 15px;
  line-height: 1.6;
}

.join-us button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.join-us button:hover {
  background-color: var(--bg-primary);
}


.team {
  padding: 40px 20px;
  max-width: 1100px;
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 30px;
  color: var(--text-dark);
}

.team h2 {
  padding: 50px;
  text-align: left;
  filter: grayscale(100%);
  color: rgb(170, 169, 169);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 400px); 
  gap: 20px;
  justify-content: center;
  padding: 40px;
  justify-content: space-around;
}

.card {
  position: relative;
  background-color: var(--bg-light);
  border-radius: 10px;
  max-width: 400px; 
  width: 100%; 
  padding: 60px 10px 30px; 
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.card h3 {
  font-size: 18px;
  margin-top: 20px;
}

.card p {
  font-size: 14px;
  line-height: 1.4;
}


.trainer-container {
  position: absolute;
  top: -40px; 
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
}

.trainer-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid var(--bg-secondary);
  object-fit: cover;
  filter: grayscale(100%);
}


h3 {
  color: var(--text-dark);
}

p {
  font-size: 15px;
  margin-top: 1rem;
  padding: 0 10px 20px;
  color:var(--text-dark);
}

footer {
  background-color: var(--bg-dark);
}

footer p {
  font-size: var(--fs-small);
  text-align: center;
  color: var(--text-light);

  padding: var(--spacing-medium) 0;
}