.welcome-section {
  padding-top: 100px;
  height: calc(140vh - 100px); 
  box-sizing: border-box;
  background-color: var(--bg-primary);
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap; 
}

.welcome h1 {
  padding-top: 80px;
}

.welcome h2 {
  color: var(--button-color);
}

@media (max-width: 768px) {
  .welcome h1 {
    font-size: 2rem;
  }
}

.courses-section {
  padding: 40px 20px;
  background-color:rgb(246, 246, 246);
  text-align: center;
}

.courses-section h2, h3 {
  margin-bottom: 30px;
  font-size: 28px;
}


.courses-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course-card {
  background-color: var(--bg-light);
  border-radius: 10px;
  max-width: 300px;
  padding: 40px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.course-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.course-card h3 {
  margin: 15px 0 10px;
  font-size: 20px;
  color: var(--bg-dark);
}

.course-card p {
  font-size: 14px;
  color: var(--text-dark);
}

.course-card a {
  display: inline-flex;
  margin-top: 10px;
  padding: 8px 16px;
  color: var(--text-primary);
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
}

.course-card a:hover {
  background-color: var(--button-color);
}

.icon svg {
    width: 30%;
    height: 30%;
    background-color: var(--button-color);
    border-radius: 10px;
    fill: var(--bg-light);
}

.icon-1 svg {
     width: 30%;
    height: 30%;
    background-color: #fbb44c;
    border-radius: 10px;
    fill: var(--bg-light);
}

.icon-2 svg {
     width: 30%;
    height: 30%;
    background-color: var(--bg-primary);
    fill: var(--bg-light);
    border-radius: 10px;
}

.audience-section {
  padding: 40px 20px;
  background-color: var(--bg-light);
  text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container img {
    width: 50%;
    height: auto;
    justify-content: end;
}

.audience-section h2, h3 {
  margin-bottom: 20px;
  font-size: 26px;
}

.audience-section p {
  max-width: 700px;
  margin: 0 auto;
  font-size: 16px;
  color: var(--text-dark);
  text-align: left;
  justify-content: left;
}

footer p {
  text-align: center;
}

@media (max-width: 992px) {
  .courses .course-wrapper {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .courses .course-wrapper {
    width: 100%;
  }
}
